---
---

@import "{{ site.theme }}";

.page-header {
  padding: 50px 20px !important;
}

.page-header .project-name {
  font-size: 2.2rem !important;
}

.page-header .project-tagline {
  font-size: 1.1rem !important;
}
